
    <!-- back -->

    <a class="tile back" navigate="/projecten">
        <span></span>
        <i>bekijk alle cases</i>
    </a>

    <!-- title -->

    <div class="tile title">
        <div class="tags">Design &amp; Beleving, Prototyping, Startup</div>
        <h1 class="usual">Eerstvergelijken.nl</h1>
        <p>EerstVergelijken.nl is hét platform voor het vergelijken van specialisten in jouw regio.
          Zo vind je bijvoorbeeld een timmerman voor de tv kast die je al jaren wilt laten bouwen,
          de specialist die verstand heeft van zonnepanelen of je vergelijkt een aantal verhuizers
          om de beste deal te ontvangen. Na een duidelijke omschrijving van je opdracht ontvang je
          meerdere offertes van aangesloten professionals die betrouwbaar zijn en kwaliteit leveren.
          Op basis van prijs, service en snelheid kun jij de beste deal selecteren.
        </p>
    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/eerstvergelijken-intro.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/eerstvergelijken-intro-portrait.jpg">
      </div>
    </div>


    <!-- text -->

    <div class="tile text">
          <h2 class="usual">Doelstellingen</h2>
          <p style="margin-bottom:40px;">
            1 - Ontwikkel een volledig operationele website voor consumenten.<br />
             2 - Ontwikkel een converterende landingspagina waarop specialisten zich kunnen aanmelden.<br />
             3 - Ontwikkel de omgeving van specialisten waarin zij leads kunnen bekijken.<br />
           </p>

           <h2 class="usual">Consumenten</h2>
           <p>Op een overzichtelijke en eerlijke manier brengt Eerstvergelijken.nl jou in contact met de
             beste specialisten. Zo kom je bijvoorbeeld de juiste zonnepanelen leverancier tegen nadat
             je hebt aangegeven wat voor type dak je hebt, wat de oriëntatie van je dak tegenover de
             zon is en wat ongeveer je jaarlijkse energieverbruik is. Op deze manier ontvangen de
             specialisten direct de juiste informatie om een beeld te vormen voordat zij kennismaken
             met de lead. Zij werken tevens samen met Eerstvergelijken.nl om de juiste vragen te
             stellen aan de consument.
           </p>

    </div>


    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/eerstvergelijken-portal.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/eerstvergelijken-portal-portrait.jpg">
      </div>
    </div>

    <!-- text -->

    <div class="tile text">
        <h2 class="usual">De specialisten</h2>
        <p style="margin-bottom:40px;">
        Als ondernemer ben je altijd op zoek naar nieuwe klanten. Eerstvergelijken.nl is het eerste platform
        waar specialisten kwalitatief hoogwaardige leads ontvangen die voldoen aan de kwaliteitsnormen.
        Voordat de specialist een lead ontvangt, voert het team van Eerstvergelijken.nl een controle uit
        door contact op te nemen met de klant. 30% van deze leads wordt daarna afgekeurd, zodat de specialist
        alleen betaalt voor de serieuze leads.
        </p>

        <h2 class="usual">Online omgeving specialisten</h2>
        <p>
          Specialisten die aangesloten zijn bij Eerstvergelijken.nl hebben een eigen online omgeving waarin
          zij leads, offertes en klanten kunnen terugvinden. Door het notificatiesysteem van Eerstvergelijken.nl
          ontvangen specialisten ‘hot leads’ die zij direct kunnen bekijken en benaderen.
        </p>

      </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/eerstvergelijken-specialisten.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/eerstvergelijken-specialisten-portrait.jpg">
      </div>
    </div>





    <!-- next -->

    <div class="tile next">
        <img src="images/icons/next.png">
        <h2 class="default">Overstappen.nl</h2>
        <h3 class="default">Zoek en vergelijk energieleveranciers</h3>
        <a class="button black" navigate="/projecten/overstappen-nl">Bekijk case</a>
    </div>


    <!-- contacts -->

    <div class="tile contacts">
        <img src="images/icons/rocket.png">
        <h2 class="fatty">Start vrijblijvend een project</h2>
        <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
        <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
            <input type="text" name="FNAME" placeholder="Naam">
            <input type="email" name="EMAIL" placeholder="E-mail">
            <input type="submit" class="button yellow" value="Project starten">
        </form>
    </div>


    <!-- logotype -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
