
    <!-- back -->

    <a class="tile back" navigate="/projecten">
        <span></span>
        <i>bekijk alle cases</i>
    </a>

    <!-- title -->

    <div class="tile title">
        <div class="tags">Design &amp; Beleving, Design research, Prototyping, Startup</div>
        <h1 class="usual">Helloprint / Drukzo</h1>
        <p>Helloprint maakt het voor iedereen mogelijk om drukwerk online te bestellen.
          Of je nu de startende ondernemer bent die snel visitekaartjes nodig heeft,
          de grafisch professional die een betrouwbare partner zoekt, of je wilt gewoon
          een leuke poster drukken voor de 50ste verjaardag van je ouders. Bij Helloprint
          is dat allemaal zonder moeite, zo geregeld.

        </p>
    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/helloprint-intro-image.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/helloprint-intro-image-portrait.jpg">
      </div>
    </div>



    <!-- text -->

    <div class="tile text">
          <h2 class="usual">Doelstellingen</h2>
          <p>
            1 - Ontwikkel nieuwe design guidelines waarmee Helloprint een consistente user experience kan leveren.<br />
            2 - Ontwikkel de mobiele site van Helloprint op basis van nieuwe design guidelines.<br />
            3 - Ontwikkel een funnel voor afwijkende producten waar gebruikers beter ondersteund worden met visuals en relevante informatie.<br />
            4 - Ontwikkel een helpdesk waar gebruikers belangrijke informatie kunnen vinden, zodat het aantal telefonische contacten teruggebracht wordt.
          </p>

    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/helloprint-mobile-experience.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/helloprint-mobile-experience-portrait.jpg">
      </div>
    </div>



    <!-- text -->

    <div class="tile text">
        <h2 class="usual">De Helloprint experience in je hand.</h2>
        <p>
          Nog even snel je orderstatus checken, de beste prijzen inzien of producten opnieuw bestellen
          met een druk op de knop. Dit zijn allemaal voor de hand liggende functies die beschikbaar
          moeten zijn op de mobiele site van Helloprint. Maar wat als we verder denken? Wist je bijvoorbeeld
          dat de gemiddelde mobiele gebruiker 150 foto’s per maand schiet? Op basis van nieuwe
          design guidelines hebben we de eerste prototypes ontwikkeld.
        </p>

        <a class="button black" href="https://invis.io/5A78IU83P" target="_blank">BEKIJK DEMO</a>

      </div>


      <!-- image -->

      <div class="tile">
        <div class="landscape-imgbox">
          <img src="images/project-images/helloprint-mobile-experience-flow.jpg">
        </div>
        <div class="portait-imgbox">
          <img src="images/project-images/helloprint-mobile-experience-flow-portrait.jpg">
        </div>
      </div>


    <!-- text -->

    <div class="tile text">
      <h2 class="usual">Een product funnel met visuele ondersteuning.</h2>
      <p>Budget, standaard of toch de luxe variant roll-up banners? Sommige producten vragen
        om een ander selectieproces waar meer informatie gegeven kan worden om de klant te
        overtuigen van haar keuze. De flexibele product funnel die we ontwikkeld hebben is
        voor veel ingewikkelde producten te gebruiken door de product owners van Helloprint.
      </p>
      <a class="button black" href="https://invis.io/JB5GQZHRU" target="_blank">BEKIJK DEMO</a>

    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/helloprint-product-flow.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/helloprint-product-flow-portrait.jpg">
      </div>
    </div>

    <!-- text -->

    <div class="tile text">
      <h2 class="usual">Het aantal telefoontjes naar beneden halen.</h2>
      <p>
        Even snel de aanleverspecificaties zoeken, want die t-shirts heb je nog niet eerder besteld.
        Tijdens je zoektocht wordt je direct verrast met een kant-en-klare werktekening die je direct
        kunt gebruiken. Zo wordt je drukwerk altijd perfect geleverd! In de helpdesk kunnen gebruikers
        eenvoudig hun antwoord, werktekening, instructievideo's en meer vinden in een aantal klikken.
      </p>
      <a class="button black" href="https://invis.io/RE62O8FFQ" target="_blank">BEKIJK DEMO</a>

    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/helloprint-helpcenter.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/helloprint-helpcenter-portrait.jpg">
      </div>
    </div>


    <!-- next -->

    <div class="tile next">
        <img src="images/icons/next.png">
        <h2 class="default">eerstvergelijken.nl</h2>
        <h3 class="default">Zoek en vergelijk specialisten</h3>
        <a class="button black" navigate="/projecten/eerstvergelijken-nl">Bekijk case</a>
    </div>


    <!-- contacts -->

    <div class="tile contacts">
        <img src="images/icons/rocket.png">
        <h2 class="fatty">Start vrijblijvend een project</h2>
        <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
        <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
            <input type="text" name="FNAME" placeholder="Naam">
            <input type="email" name="EMAIL" placeholder="E-mail">
            <input type="submit" class="button yellow" value="Project starten">
        </form>
    </div>


    <!-- logotype -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
