
    <!-- back -->

    <a class="tile back" navigate="/projecten">
        <span></span>
        <i>bekijk alle cases</i>
    </a>

    <!-- title -->

    <div class="tile title">
        <div class="tags">Design &amp; Beleving, Design research, Prototyping, Online marketing</div>
        <h1 class="usual">Overstappen.nl</h1>
        <p>Even snel checken of je voor volgend jaar nog een deal kunt vinden om te besparen op je
          energierekening of zorgverzekering? Op Overstappen.nl kun je vergelijken, overstappen en
          besparen op verschillende providers en leveranciers.
        </p>
    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/overstappen-intro.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/overstappen-portrait.jpg">
      </div>
    </div>


    <!-- text -->

    <div class="tile text">
          <h2 class="usual">Doelstellingen</h2>
          <p style="margin-bottom:40px;">1 - Conversie van de energie vergelijker verbeteren</p>

          <h2 class="usual">Onderzoek naar obstakels</h2>
          <p>Uit onderzoek bleek dat er verschillende meningen waren over vergelijkingssites.
            Zo was de één wantrouwig, de ander sceptisch en de huidige gebruikers gebruiken
            het niet alleen om over te stappen van energieleverancier, maar ook om de beste
            deals te vinden voor een nieuwe zorgverzekering. Na het analyseren van onderzoek,
            usability tests en online gegevens hebben we een aantal verbeterpunten opgesteld.
          </p>

    </div>


    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/overstappen-flow.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/overstappen-flow-portrait.jpg">
      </div>
    </div>



    <!-- text -->

    <div class="tile text">
        <h2 class="usual">Een alternatieve kijk op vergelijken</h2>
        <p style="margin-bottom:40px;">
          Om wantrouwige bezoekers te overtuigen hebben we een prototype gemaakt waarin bezoekers
          stap voor stap geholpen worden met hun keuze. De obstakels die in het onderzoek aan het
          licht kwamen zijn op deze manier uit het proces gehaald en geeft de bezoeker de mogelijkheid
          om optionele selecties te maken voor een betere vergelijken.
        </p>

        <h2 class="usual">Verbetering van huidige paginas</h2>
        <p>
          We hebben een aantal usability verbeteringen doorgevoerd op de overzichtspagina waardoor
          gebruikers sneller hun gegevens en filters kunnen wijzigen, direct zien wat ze op jaarbasis
          kunnen besparen en de optie om een aanbieding op te slaan. Ze kunnen vanuit deze pagina ook
          rechtstreeks de prijsopbouw zien, iets wat uit onderzoek niet makkelijk te vinden was.
          De product- en aanvraagpagina zijn tevens verbeterd door kleine aanpassingen.
        </p>

      </div>



    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/overstappen-desktop.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/overstappen-desktop-portrait.jpg">
      </div>
    </div>








    <!-- next -->

    <div class="tile next">
        <img src="images/icons/next.png">
        <h2 class="default">Travel Buddy</h2>
        <h3 class="default">Je persoonlijke reisagent</h3>
        <a class="button black" navigate="/projecten/travelbuddy">Bekijk case</a>
    </div>


    <!-- contacts -->

    <div class="tile contacts">
        <img src="images/icons/rocket.png">
        <h2 class="fatty">Start vrijblijvend een project</h2>
        <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
        <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
            <input type="text" name="FNAME" placeholder="Naam">
            <input type="email" name="EMAIL" placeholder="E-mail">
            <input type="submit" class="button yellow" value="Project starten">
        </form>
    </div>


    <!-- logotype -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
