<!-- services -->

<div class="tile services">
    <h2 class="default">Wat we doen</h2>
    <h3 class="default">Je klanten verwonderen met functionele en simpele oplossingen.</h3>
    <ul class="list">
        <li><a ng-click="service('communicatie')">Communicatie</a></li>
        <li><a ng-click="service('online-marketing')">Online marketing</a></li>
        <li><a ng-click="service('uxdesign')">UX Design</a></li>
        <li><a ng-click="service('sdesign')">Service design</a></li>
        <li><a ng-click="service('apps')">Apps</a></li>
        <li><a ng-click="service('startups')">Startups</a></li>
        <li><a ng-click="service('webshops')">Webshops</a></li>
        <li><a ng-click="service('prototyping')">Prototyping</a></li>
        <li><a ng-click="service('tech')">Technologie</a></li>
    </ul>
</div>


<!-- service LEFT -->

<div class="tile service" id="communicatie">
    <div class="center">
        <h2 class="usual">Communicatie &amp; Marketing</h2>
        <p>
          Reclamecampagnes, social media, mooie websites en apps: ze zijn voor Nike, Apple, Fanta en H&amp;M niet meer weg te denken. Wij kunnen je helpen met de ontwikkeling van die communicatiemiddelen en reclamecampagnes. Wij weten als geen ander hoe we social media, websites, folders, productpresentaties, bedrijven en merken goed in de markt kunnen neerzetten. Door onze kennis en creativiteit kunnen wij de juiste doelgroepen raken.
        </p>

        <a class="button black" navigate="/contact">START PROJECT</a>
        <span>VRIJBLIJVEND</span>
    </div>
</div>

<!-- IMAGE RIGHT -->

<div class="tile preview right">
    <div class="cover">
      <img src="images/services/icon-communicatie.png" cover>
    </div>
</div>



                <!-- service RIGHT -->

                <div class="tile service right" id="online-marketing">
                    <div class="center">
                        <h2 class="usual">Online Marketing</h2>
                        <p>
                          Bij online marketing staan conversie en resultaat voorop. En dan hebben we het uiteraard over resultaat tegen de juiste kosten! We hebben een breed aanbod aan diensten om je app, webshop of website beter te laten presteren. We realiseren nieuwe bezoekers door de inzet van bijvoorbeeld zoekmachine optimalisatie. Ook kunnen we je conversieratio verhogen met behulp van conversie optimalisatie en een grondige analyse van je Analytics data. Bij dit alles houden we onze 4 dragers continu in de gaten: communicatie, transparantie, rapportage en resultaat! Zo maken wij onze klanten online succesvol!
                        </p>

                        <a class="button black" navigate="/contact">START PROJECT</a>
                        <span>VRIJBLIJVEND</span>
                    </div>
                </div>


                <!-- IMAGE LEFT -->

                <div class="tile preview">
                    <div class="cover">
                      <img src="images/services/icon-onlinemarketing.png" cover>
                    </div>
                </div>




<!-- service LEFT -->

<div class="tile service" id="uxdesign">
    <div class="center">
        <h2 class="usual">User experience design</h2>
        <p>
          Met kwalitatief en kwantitatief onderzoek krijg je inzicht in de user experience van je website of bijvoorbeeld je apps. Aan de hand van de inzichten kunnen we je helpen bij het optimaliseren van de conversie en usability. Ons onderzoek is gericht op het verbeteren van het design en/of de conversie. Wij werken met verschillende methodieken en kunnen het onderzoek precies afstemmen op jouw vraag. Tevens kunnen wij daar onze specialiteit aan koppelen: het design van je website of app.
        </p>

        <a class="button black" navigate="/contact">START PROJECT</a>
        <span>VRIJBLIJVEND</span>
    </div>
</div>

<!-- IMAGE RIGHT -->

<div class="tile preview right">
    <div class="cover">
      <img src="images/services/icon-ux-design.png" cover>
    </div>
</div>




              <!-- service RIGHT -->

              <div class="tile service right" id="sdesign">
                  <div class="center">
                      <h2 class="usual">Service design</h2>
                      <p>
                        De industriële revolutie begon rond de 19e eeuw en sindsdien verandert de wereld. Op dit moment zijn we in een fase gekomen dat de wereld om ons heen sneller verandert dan ooit tevoren. En het is als organisatie geen gemakkelijke opgave om jezelf steeds opnieuw uit te vinden, relevant te blijven voor je klanten en duurzame groei te realiseren. Service design is een resultaatgerichte methodiek, waarmee organisaties sneller kansen kunnen creëren, testen en commercialiseren dan ieder ander.<br /><br />
                        En door te bouwen aan een onderscheidende customer experience, passend bij jouw merk en je doelgroep, kan je werken aan de ultieme differentiërende factor voor je organisatie: tevreden klanten.                      </p>

                      <a class="button black" navigate="/contact">START PROJECT</a>
                      <span>VRIJBLIJVEND</span>
                  </div>
              </div>


              <!-- IMAGE LEFT -->

              <div class="tile preview">
                  <div class="cover">
                    <img src="images/services/icon-service-design.png" cover>
                  </div>
              </div>




<!-- service LEFT -->

<div class="tile service" id="apps">
    <div class="center">
        <h2 class="usual">Apps</h2>
        <p>
          Mobiel is een onderdeel van ons leven geworden en wordt met de dag belangrijker. En wij zijn de toekomst! Voor de ontwikkeling van een app die goed bij je organisatie past, ben je bij ons op het juiste adres. En dan hebben we het niet alleen over het maken van een app, maar uiteraard ook over het design. We maken ze mooi, slim en zorgen ervoor dat ze je dagelijks leven een stuk aangenamer maken.
        </p>

        <a class="button black" navigate="/contact">START PROJECT</a>
        <span>VRIJBLIJVEND</span>
    </div>
</div>

<!-- IMAGE RIGHT -->

<div class="tile preview right">
    <div class="cover">
      <img src="images/services/icon-app-design.png" cover>
    </div>
</div>



            <!-- service RIGHT -->

            <div class="tile service right" id="startups">
                <div class="center">
                    <h2 class="usual">Startups</h2>
                    <p>
                      Beschik jij over een ondernemersgeest. Je weet precies wat je wilt, maar je bent nog op zoek hoe je het vorm kunt geven? Wij kunnen je een adviserende rol aanbieden om de ondernemersgeest door te geven: ondernemers horen ondernemers namelijk te helpen!
                    </p>

                    <a class="button black" navigate="/contact">START PROJECT</a>
                    <span>VRIJBLIJVEND</span>
                </div>
            </div>


            <!-- IMAGE LEFT -->

            <div class="tile preview">
                <div class="cover">
                  <img src="images/services/icon-startups.png" cover>
                </div>
            </div>



<!-- service LEFT -->

<div class="tile service" id="webshops">
    <div class="center">
        <h2 class="usual">Webshops</h2>
        <p>
          Om je te onderscheiden van je concurrenten, moet technisch gezien alles kloppen. De webshop moet snel en goed vindbaar in Google zijn. Bovendien moeten ze zijn voorzien van de nieuwste conversieverhogende functionaliteit. Daarom kan niet iedereen zomaar een webshop bouwen. Het is een specialisme van Media Scheppers.
        </p>

        <a class="button black" navigate="/contact">START PROJECT</a>
        <span>VRIJBLIJVEND</span>
    </div>
</div>

<!-- IMAGE RIGHT -->

<div class="tile preview right">
    <div class="cover">
      <img src="images/services/icon-webshops.png" cover>
    </div>
</div>




          <!-- service RIGHT -->

          <div class="tile service right" id="prototyping">
              <div class="center">
                  <h2 class="usual">Prototyping</h2>
                  <p>
                    Stel je hebt een idee en wilt dit graag uitwerken tot een tastbaar product. Voordat je een professionele partij inschakelt maak je eerst wat schetsen en ga je knippen en plakken. Maar dan ben je er nog lang niet! Door het laten maken van een professioneel prototype kom je erachter of jouw idee haalbaar en uitvoerbaar is. Afhankelijk van de wensen en het budget zijn er diverse mogelijkheden. Wij adviseren en assisteren je graag bij de ontwikkeling van een prototype.
                  </p>

                  <a class="button black" navigate="/contact">START PROJECT</a>
                  <span>VRIJBLIJVEND</span>
              </div>
          </div>


          <!-- IMAGE LEFT -->

          <div class="tile preview">
              <div class="cover">
                <img src="images/services/icon-prototyping.png" cover>
              </div>
          </div>



<!-- service LEFT -->

<div class="tile service" id="tech">
    <div class="center">
        <h2 class="usual">Technologie</h2>
        <p>
        Media Scheppers heeft meer dan 5 jaar ervaring in het samenwerken met software bedrijven en geeft opdrachtgevers graag advies over tijdsduur, kosten en overige vraagstukken. Tevens werkt Media Scheppers samen met vaste ontwikkelaars die snel, efficient en kwalitatief goed werk leveren.
        </p>

        <a class="button black" navigate="/contact">START PROJECT</a>
        <span>VRIJBLIJVEND</span>
    </div>
</div>

<!-- IMAGE RIGHT -->

<div class="tile preview right">
    <div class="cover">
      <img src="images/services/icon-technology.png" cover>
    </div>
</div>





<!-- vision -->

<div class="tile vision">
    <img src="images/icons/light-white.png">
    <h2 class="default">Onze visie</h2>
    <h3 class="default">Met de wind in de rug en de zon in ‘t gezicht</h3>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi
        leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <a class="button black" navigate="/over">Meer over media scheppers</a>
</div>


<!-- contacts -->

<div class="tile contacts">
    <img src="images/icons/rocket.png">
    <h2 class="fatty">Start vrijblijvend een project</h2>
    <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
    <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
        <input type="text" name="FNAME" placeholder="Naam">
        <input type="email" name="EMAIL" placeholder="E-mail">
        <input type="submit" class="button yellow" value="Project starten">
    </form>
</div>


<!-- logotype -->

<div class="tile logotype">
    <img src="images/icons/light-yellow.png">
    <b>Media<br>Scheppers</b>
    <i>Digital agency</i>
</div>
