

    <!-- service LEFT -->

    <div class="tile service" id="communicatie">
        <div class="center">
            <h2 class="usual">Download hier het gratis E-book: De juiste strategie om social media in je bedrijf te implementeren.</h2>
            <p>
            Met een duidelijk stappenplan waarin wij aangeven hoe je een Facebook-strategie
            kunt maken voor jouw bedrijf of organisatie.
          </p><p style="margin-top: 20px; font-size:17px; line-height:20px;">
            P.s. wij zijn het enige bedrijf waar je GEEN gegevens hoeft achter te laten
            of te betalen met een 'tweet'. 1 keer klikken en je hebt het gratis E-book!
            </p>

            <a class="button black" href="/images/downloads/ms-ebook.pdf" style="line-height: 20px !important;">Download E-book!</a>
            <span>HELEMAAL GRATIS!</span>
        </div>
    </div>

    <!-- IMAGE RIGHT -->

    <div class="tile preview right">
        <div class="cover">
          <img src="images/services/social-media-ebook-cover.png" cover>
        </div>
    </div>


        <!-- contacts -->

        <div class="tile contacts">
            <img src="images/icons/rocket.png">
            <h2 class="fatty">Start vrijblijvend een project</h2>
            <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
            <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
                <input type="text" name="FNAME" placeholder="Naam">
                <input type="email" name="EMAIL" placeholder="E-mail">
                <input type="submit" class="button yellow" value="Project starten">
            </form>
        </div>




    <!-- logotype  -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
