
    <!-- back -->

    <a class="tile back" navigate="/projecten">
        <span></span>
        <i>bekijk alle cases</i>
    </a>

    <!-- title -->

    <div class="tile title">
        <div class="tags">Apps, Design &amp; Beleving, Design research, Prototyping, Startup</div>
        <h1 class="usual">Travel Buddy</h1>
        <p>Op Travel Buddy ontdekken reizigers de ervaring die ze onbewust al verlangen.
          Ze worden geïnspireerd met het leven in de stad, de lokale keuken, mooie wandelroutes
          en de vetste concerten. Zo kan de reiziger zijn beslissingen baseren op verhalen van
          anderen, verblijf en logistiek. Tevens kan zij beslissen in hoeverre een bestemming
          op een bepaald moment bij hem of haar past als uniek individu.
        </p>
    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/travel-buddy-friends.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/travel-buddy-friends-portait.jpg">
      </div>
    </div>


    <!-- text -->

    <div class="tile text">
        <h2 class="usual">De beste match, overal.</h2>
        <p style="margin-bottom:40px;">Stel, je wilt met je vriendin een citytrip doen in Londen, maar jullie hebben beiden nogal
          wat verschillende voorkeuren en behoeftes. Travel Buddy helpt je door de 3 beste
          matches te geven op basis van jullie profiel. Hoe ze dat doen? Dat houden we nog even geheim..</p>

          <h2 class="usual">Doelstellingen</h2>
          <p>   1 - Antwoord krijgen op hypotheses door middel van research, prototypes en user tests.<br />
                2 - Een prototype ontwikkelen dat aandeelhouders en investeerders kan overtuigen.<br />
                3 - Doorontwikkelen van prototypes tot een minimaal bruikbaar product. </p>
    </div>


    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/travelbuddy-early-concepts.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/travelbuddy-early-concepts-portrait.jpg">
      </div>
  </div>


    <!-- text -->

    <div class="tile text">

        <h2 class="usual">Wat we gedaan hebben.</h2>
        <p style="margin-bottom:40px;">
          We hebben voor een korte periode design sprints uitgevoerd. Wekelijkse sessies waar de focus
          maar op 1 ding ligt, namelijk het valideren van hypotheses en ideeën door echte gebruikers
          kennis te laten maken met prototypes. Daarnaast hebben we een demo gepresenteerd aan mogelijke investeerders.
        </p>

        <h2 class="usual">De aanhouder wint.</h2>
        <p style="margin-bottom:40px;">
          Tijdens de eerste design sprints is het vooral zoeken naar oplossingen die gebruikers begrijpen.
          In deze periode is het dus voornamelijk doen, falen, leren en doorzetten. Na verschillende iteraties
          kwamen we met Travel Buddy op het keerpunt waarbij gebruikers het 'Aha' momentje beleefden.
        </p>
    </div>


    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/travelbuddy-final-homescreen.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/travelbuddy-final-homescreen-portrait.jpg">
      </div>
  </div>




    <!-- text -->

    <div class="tile text">
      <h2 class="usual">Het keerpunt.</h2>
      <p style="margin-bottom:40px;">
        Uit onderzoek en feedback van gebruikers van de prototypes blijkt dat er een aantal pijnpunten
        zijn die de reizigers ervaren. Je kunt je misschien wel voorstellen dat reizigers tegenwoordig
        het gevoel hebben dat ze continue onpersoonlijke accommodaties te zien krijgen. De prijs is
        te duur, de hotels zijn niet relevant voor je zoektocht of je bent eindeloos aan het zoeken.
        We kunnen je natuurlijk niet alles prijsgeven, echter heeft Travel Buddy een aantal ideeën
        dat een goede kans van slagen heeft.</p>

      <h2 class="usual">Wat je van dit project kan leren.</h2>
      <p>Wanneer je gebruikers direct betrekt bij het ontwikkelen van een product zul je sneller
        tot verrassende conclusies komen. Ze gebruiken je product anders dan jij in je gedachten
        had, ze geven aan dat er nog iets mis is, of ze geven aan dat het gewoon niks is. Hoe dan
        ook, je kunt eigenlijk niet falen met design sprints. Want wie wil er nu duizenden euro’s
        investeren in iets dat gebruikers helemaal willen gebruiken?
      </p>
    </div>







    <!-- next -->

    <div class="tile next">
        <img src="images/icons/next.png">
        <h2 class="default">Helloprint</h2>
        <h3 class="default">Drukwerk voor iedereen mogelijk maken</h3>
        <a class="button black" navigate="/projecten/helloprint-drukzo">Bekijk case</a>
    </div>


    <!-- contacts -->

    <div class="tile contacts">
        <img src="images/icons/rocket.png">
        <h2 class="fatty">Start vrijblijvend een project</h2>
        <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
        <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
            <input type="text" name="FNAME" placeholder="Naam">
            <input type="email" name="EMAIL" placeholder="E-mail">
            <input type="submit" class="button yellow" value="Project starten">
        </form>
    </div>


    <!-- logotype -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
