
  <!-- title -->

  <div class="tile title">
      <div class="tags">Contact</div>
      <h1 class="usual">Media Scheppers</h1>
      <p>
      Lelystraat 57m<br />
      3364 AH Sliedrecht<br />
      <a href="mailto:hallo@mediascheppers.nl" title="Media Scheppers mailen">hallo@mediascheppers.nl</a> <br />
      </p>

  </div>


  <!-- image -->

  <div class="tile">
    <div class="landscape-imgbox">
      <img src="images/project-images/mediascheppers-map.jpg">
    </div>
    <div class="portait-imgbox">
      <img src="images/project-images/mediascheppers-map-portrait.jpg">
    </div>
  </div>



  <!-- Text -->

      <!-- contacts -->

      <div class="tile contacts">
          <img src="images/icons/rocket.png">
          <h2 class="fatty">Start vrijblijvend een project</h2>
          <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
          <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
              <input type="text" name="FNAME" placeholder="Naam">
              <input type="email" name="EMAIL" placeholder="E-mail">
              <input type="submit" class="button yellow" value="Project starten">
          </form>
      </div>


    <!-- logotype  -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
