

    <!-- project -->

    <a class="tile project" navigate="/projecten/travelbuddy">
        <div class="cover">
            <img src="images/covers/travel-buddy-hero.png" cover>
        </div>
        <div class="center">
            <h2 class="large">Travel Buddy</h2>
            <h3 class="default">Je persoonlijke reisagent</h3>
            <span class="button white">Bekijk case</span>
        </div>
    </a>


    <!-- print -->

    <a class="tile print" navigate="/projecten/helloprint-drukzo">
        <img src="images/covers/helloprint-mobile.png">
        <div class="center">
            <h2 class="default">Helloprint</h2>
            <h3 class="default">Drukwerk mogelijk maken voor iedereen</h3>
            <span class="button white">Bekijk case</span>
        </div>
    </a>


    <!-- blank -->

    <a class="tile blank right" navigate="/over">
        <div class="center">
            <h2 class="default">Verwonderen</h2>
            <h3 class="default">Daar doen we het voor</h3>
            <span class="button black">Over ons</span>
        </div>
    </a>


    <!-- artist -->

    <a class="tile artist right" navigate="/projecten/eerstvergelijken-nl">
        <div class="cover">
            <img src="images/covers/eerstvergelijken-cover.jpg" cover>
        </div>
        <div class="center">
            <h2 class="default">Eerstvergelijken.nl</h2>
            <h3 class="default">Zoek en vergelijk specialisten</h3>
            <span class="button white">Bekijk case</span>
        </div>
    </a>
    </h2>
    <h3 class="default"></h3>

    <!-- blank -->

    <a class="tile blank" navigate="/projecten">
        <div class="center">
            <h2 class="default">Meer zien?</h2>
            <h3 class="default">Bekijk alle projecten</h3>
            <span class="button black">Ons werk</span>
        </div>
    </a>


    <!-- vision -->

    <div class="tile vision">
        <img src="images/icons/light-white.png">
        <h2 class="default">Onze visie</h2>
        <h3 class="default">Met de wind in de rug en de zon in ‘t gezicht</h3>
        <p>Media scheppers stemt communicatie af op de doelstellingen en ambities van de opdrachtgevers.
          De aanpak is creatief, doordacht en resultaatgericht. De werkwijze is enthousiast,
          pro-actief en servicegericht. De inzet is daarom altijd een langdurige relatie met de
          opdrachtgevers. Dat zijn bedrijven, instellingen, organisaties en overheden waarvoor
          communicatie van essentieel belang is.</p>
        <a class="button black" navigate="/over">Meer over media scheppers</a>
    </div>



    <!-- services -->

    <div class="tile services">
        <h2 class="default">Wat we doen</h2>
        <h3 class="default">Je klanten verwonderen met functionele en simpele oplossingen.</h3>
        <ul class="list">
            <li><a ng-click="service('communicatie')">Communicatie</a></li>
            <li><a ng-click="service('online-marketing')">Online marketing</a></li>
            <li><a ng-click="service('uxdesign')">UX Design</a></li>
            <li><a ng-click="service('sdesign')">Service design</a></li>
            <li><a ng-click="service('apps')">Apps</a></li>
            <li><a ng-click="service('startups')">Startups</a></li>
            <li><a ng-click="service('webshops')">Webshops</a></li>
            <li><a ng-click="service('prototyping')">Prototyping</a></li>
            <li><a ng-click="service('tech')">Technologie</a></li>
        </ul>
    </div>




    <!-- contacts -->

    <div class="tile contacts">
        <img src="images/icons/rocket.png">
        <h2 class="fatty">Start vrijblijvend een project</h2>
        <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
        <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
            <input type="text" name="FNAME" placeholder="Naam">
            <input type="email" name="EMAIL" placeholder="E-mail">
            <input type="submit" class="button yellow" value="Project starten">
        </form>
    </div>


    <!-- logotype -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
