    <!-- back -->

    <a class="tile back" navigate="/">
        <span></span>
        <i>Naar startpagina</i>
    </a>

    <!-- title -->

    <div class="tile title">
        <div class="tags">Ons motto</div>
        <h1 class="usual">Verwonder je klanten.</h1>
        <p>Media scheppers stemt communicatie af op de doelstellingen en ambities van de opdrachtgevers.
          De aanpak is creatief, doordacht en resultaatgericht. De werkwijze is enthousiast, proactief en
          servicegericht. De inzet is daarom altijd een langdurige relatie met de opdrachtgevers.
          Dat zijn bedrijven, instellingen, organisaties en overheden waarvoor communicatie van
          essentieel belang is.</p>
    </div>

    <!-- image -->

    <div class="tile">
      <div class="landscape-imgbox">
        <img src="images/project-images/mediascheppers-focus.jpg">
      </div>
      <div class="portait-imgbox">
        <img src="images/project-images/mediascheppers-focus-portrait.jpg">
      </div>
    </div>
    <!-- Text -->


    <div class="tile text">
      <h2 class="usual">Onze missie</h2>
      <p style="margin-bottom:40px;">
        Het versterken van de positie van onze opdrachtgevers door het ontwikkelen en toepassen van strategische, creatieve en vooral effectieve communicatie is ons streven. We maken het niet alleen mooier, maar ook beter.
      </p>

      <h2 class="usual">Ons verhaal</h2>
      <p style="margin-bottom:40px;">
        Ken je dat heerlijke zondagochtend gevoel? Geen plannen, doen wat je zelf wilt doen en de boel gewoon lekker de boel laten? Het gevoel dat je aan het fietsen bent en je de wind in je rug heb en de zon in je gezicht? Het gevoel dat alles goed gaat, zonder dat je daar enige moeite voor hoeft te doen?  Wij willen organisaties juist dát gevoel geven! En dan niet alleen op zondag, maar ook op een dinsdag, een woensdag of bijvoorbeeld een vrijdag..
        <br /><br />

        Door middel van advies en implementatie van onze visie op het gebied van alle soorten communicatie, kunnen wij ervoor zorgen dat er nog meer uit uw organisatie wordt gehaald, zonder dat u daar enige moeite voor hoeft te doen.
        Wij laten ons leiden door creativiteit.
      </p>

      <h2 class="usual">Waar geloven we in?</h2>
      <p>
        Er zijn vele wegen die naar Rome leiden. Dat geldt ook bij het ontwikkelen van een nieuwe identiteit, een nieuwe website of bijvoorbeeld een nieuwe app. Het is belangrijk om continu het streven te hebben om nieuwe projecten te testen. Waarom? Zo weten we precies wat de nieuwste trends zijn en kun je zien of het doel wat we voor ogen hebben wel realistisch is.
        <br /><br />
        De concurrentie voorblijven was nog nooit zo moeilijk.  Vandaar dat wij ons werk toegankelijk maken voor iedereen.  Hoe? Door simpel te zijn en simpel te werken. Niet te veel rompslomp, maar de juiste content en design op de juiste plaats.      </p>


    </div>

    <!-- services -->

    <div class="tile services">
        <h2 class="default">Wat we doen</h2>
        <h3 class="default">Je klanten verwonderen met functionele en simpele oplossingen.</h3>
        <ul class="list">
            <li><a ng-click="service('communicatie')">Communicatie</a></li>
            <li><a ng-click="service('online-marketing')">Online marketing</a></li>
            <li><a ng-click="service('uxdesign')">UX Design</a></li>
            <li><a ng-click="service('sdesign')">Service design</a></li>
            <li><a ng-click="service('apps')">Apps</a></li>
            <li><a ng-click="service('startups')">Startups</a></li>
            <li><a ng-click="service('webshops')">Webshops</a></li>
            <li><a ng-click="service('prototyping')">Prototyping</a></li>
            <li><a ng-click="service('tech')">Technologie</a></li>
        </ul>
    </div>


        <!-- next -->

        <div class="tile next">
            <img src="images/icons/next.png">
            <h2 class="default">Contact</h2>
            <h3 class="default">Waar kunnen we je mee helpen?</h3>
            <a class="button black" navigate="/contact">Neem contact op</a>
        </div>


        <!-- contacts -->

        <div class="tile contacts">
            <img src="images/icons/rocket.png">
            <h2 class="fatty">Start vrijblijvend een project</h2>
            <p>Ontvang een stappenplan, informatie en tarieven eenvoudig in je inbox.</p>
            <form action="//mediascheppers.us11.list-manage.com/subscribe/post?u=cebe559adbf899f908ec437a8&amp;id=b11e0e1a70" method="post" target="_blank">
                <input type="text" name="FNAME" placeholder="Naam">
                <input type="email" name="EMAIL" placeholder="E-mail">
                <input type="submit" class="button yellow" value="Project starten">
            </form>
        </div>




    <!-- logotype  -->

    <div class="tile logotype">
        <img src="images/icons/light-yellow.png">
        <b>Media<br>Scheppers</b>
        <i>Digital agency</i>
    </div>
